<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeasureShot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD9DF781300532A400F2F9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9DF790300532A500F2F9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9DF79A300532A500F2F9E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
